body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

form {
    margin: 20px auto;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

.botao-voltar {
    
}