<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal - Calculadora de Saúde</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Bem-vindo à Calculadora de Saúde</h1>

    <p>Escolha uma das opções abaixo:</p>

    <a href="/calcular_imc">
        <button>Ir para Calculadora de IMC</button>
    </a>

    <a href="/calcular_calorias">
        <button>Ir para Calculadora de Calorias</button>
    </a>

</body>
</html>