<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthFlow</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="titulo">
        <h1>HealthFlow - Your Health in Focus</h1>
    </header>
    <section class="text">
        <p>Welcome to <strong>HealthFlow</strong>! Here you can find tools to take better care of your health. Choose one of the options below to get started:</p>
    </section>
    <section class="conteudo">
        <div class="botoes">
            <a href="/calcular_imc" class="botao">BMI Calculator</a>
            <a href="/calcular_calorias" class="botao">Calories Calculator</a>
            <a href="/calcular_agua" class="botao">Water Intake Planner</a>
            <a href="/calcular_frequencia_cardiaca" class="botao">Ideal Heart Rate</a>
            <a href="/calcular_macronutrientes" class="botao">Macronutrient Tracker</a>  
        </div>
    </section>
    <footer>
        <p>© 2024 HealthFlow | Developed to help you take care of your health with ease!</p>
    </footer>
</body>
</html>